.box-btn:after, .clearfix:after, img {
    display: block
}

*, .cropper-view-box, :focus {
    outline: 0
}

.box-image, .btnSty1, .btnSty1 span, .container, .main-header {
    position: relative
}

.select-bike .item, .select-bike .item:before, img {
    -webkit-backface-visibility: hidden
}

.box-btn:after, .box-mdf-img .mdf-img .img-browse:before, .clearfix:after, .gallery-sorting a:after, .select-bike .item:before {
    content: ""
}

.btn-img-txt, .btn-load-more, .btnSty1 {
    text-decoration: none
}

.container, .fancybox-title, .gallery, .gallery .item {
    box-sizing: border-box
}

@font-face {
    font-family: KittithadaMedium65Italic;
    src: url(fonts/KittithadaMedium65Italic.eot#) format('eot'), url(fonts/KittithadaMedium65Italic.woff) format('woff'), url(fonts/KittithadaMedium65Italic.ttf) format('truetype'), url(fonts/KittithadaMedium65Italic.svg#KittithadaMedium65Italic) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaThin35Italic;
    src: url(fonts/KittithadaThin35Italic.eot#) format('eot'), url(fonts/KittithadaThin35Italic.woff) format('woff'), url(fonts/KittithadaThin35Italic.ttf) format('truetype'), url(fonts/KittithadaThin35Italic.svg#KittithadaThin35Italic) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaBold75;
    src: url(fonts/KittithadaBold75.eot#) format('eot'), url(fonts/KittithadaBold75.woff) format('woff'), url(fonts/KittithadaBold75.ttf) format('truetype'), url(fonts/KittithadaBold75.svg#KittithadaBold75) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaMedium65;
    src: url(fonts/KittithadaMedium65.eot#) format('eot'), url(fonts/KittithadaMedium65.woff) format('woff'), url(fonts/KittithadaMedium65.ttf) format('truetype'), url(fonts/KittithadaMedium65.svg#KittithadaMedium65) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaRoman55Italic;
    src: url(fonts/KittithadaRoman55Italic.eot#) format('eot'), url(fonts/KittithadaRoman55Italic.woff) format('woff'), url(fonts/KittithadaRoman55Italic.ttf) format('truetype'), url(fonts/KittithadaRoman55Italic.svg#KittithadaRoman55Italic) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaRoman55;
    src: url(fonts/KittithadaRoman55.eot#) format('eot'), url(fonts/KittithadaRoman55.woff) format('woff'), url(fonts/KittithadaRoman55.ttf) format('truetype'), url(fonts/KittithadaRoman55.svg#KittithadaRoman55) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaLight45;
    src: url(fonts/KittithadaLight45.eot#) format('eot'), url(fonts/KittithadaLight45.woff) format('woff'), url(fonts/KittithadaLight45.ttf) format('truetype'), url(fonts/KittithadaLight45.svg#KittithadaLight45) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaLight45Italic;
    src: url(fonts/KittithadaLight45Italic.eot#) format('eot'), url(fonts/KittithadaLight45Italic.woff) format('woff'), url(fonts/KittithadaLight45Italic.ttf) format('truetype'), url(fonts/KittithadaLight45Italic.svg#KittithadaLight45Italic) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaThin35;
    src: url(fonts/KittithadaThin35.eot#) format('eot'), url(fonts/KittithadaThin35.woff) format('woff'), url(fonts/KittithadaThin35.ttf) format('truetype'), url(fonts/KittithadaThin35.svg#KittithadaThin35) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: KittithadaBold75Italic;
    src: url(fonts/KittithadaBold75Italic.eot#) format('eot'), url(fonts/KittithadaBold75Italic.woff) format('woff'), url(fonts/KittithadaBold75Italic.ttf) format('truetype'), url(fonts/KittithadaBold75Italic.svg#KittithadaBold75Italic) format('svg');
    font-weight: 400;
    font-style: normal
}

.box-btn:after, .clear, .clearfix:after {
    clear: both;
    height: 0;
    overflow: hidden
}

.floatL {
    float: left
}

.floatR {
    float: right
}

.floatN {
    float: none
}

.txtL {
    text-align: left
}

.txtR {
    text-align: right
}

.box-mdf-img, .btn-img-txt, .main-footer, .main-header .main-nav a, .txtC {
    text-align: center
}

.grayImg {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.ff, .smooth-font {
    -webkit-font-smoothing: antialiased
}

.input ::-webkit-input-placeholder {
    color: #ccc
}

.input :-moz-placeholder {
    color: #ccc
}

.input ::-moz-placeholder {
    color: #ccc
}

.input :-ms-input-placeholder {
    color: #ccc
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #000
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #fff inset;
    -webkit-text-fill-color: #000
}

input[type=range]::-webkit-slider-thumb {
    background: #fff;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer
}

.btnSty1, .btnSty1:hover {
    border-style: solid;
    border-radius: 8px;
    border-width: 5px
}

a {
    transition: all 350ms ease
}

.btn-menu * {
    transition: all 350ms cubic-bezier(.175, .885, .32, 1.275)
}

.btnSty1 span, .btnSty1:after {
    transition: background-color .3s ease
}

img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translateZ(0) scale(1, 1)
}

.btnSty1, .btnSty1 span, .inb {
    display: inline-block
}

.btnSty1 {
    background-color: #004f94;
    cursor: pointer;
    padding: 0 50px;
    margin-bottom: 5px;
    border-color: #004f94
}

.btnSty1 span {
    font: 400 36px/1 KittithadaBold75;
    z-index: 2;
    color: #fff;
    margin-top: 5px
}

.box-btn, p {
    margin: 15px 0
}

.btnSty1:hover {
    background-color: #07bff4;
    border-color: #07bff4
}

.box-btn {
    vertical-align: top
}

.fixed, .show-menu {
    overflow: hidden
}

body, html {
    min-height: 100vh;
    background-color: #fff
}

body {
    font-family: KittithadaMedium65 !important;
    color: #000;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased
}

section {
    padding: 15px 0 50px
}

@media only screen and (max-width: 767px) {
    section {
        padding: 15px 0
    }
}

figure {
    margin: 0
}

.content {
    min-height: calc(100vh - 182px);
    overflow: hidden
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto
}

.row {
    margin-left: -20px;
    margin-right: -20px
}

@media only screen and (max-width: 767px) {
    .row {
        margin-left: 0;
        margin-right: 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .row {
        margin-left: 0;
        margin-right: 0
    }
}

#video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg)
}

.cropper-modal {
    background-color: transparent;
    opacity: 1
}

.cropper-drag-box {
    z-index: 9
}

.main-header {
    background-color: #004f94;
    box-shadow: 0 0 7px rgba(0, 0, 0, .8);
    height: 88px;
    z-index: 99
}

.main-header .btn-menu, .main-header .logo {
    z-index: 999;
    display: block;
    position: absolute
}

.main-header .container {
    padding: 23px 0 17px
}

.main-header .logo {
    width: 158px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0
}

.main-header .btn-menu {
    top: 11px;
    left: -10px;
    width: 61px;
    height: 61px
}

@media only screen and (max-width: 767px) {
    .main-header .btn-menu {
        left: 10px
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-header .btn-menu {
        left: 10px
    }
}

.main-header .btn-menu * {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.main-header .btn-menu .normal {
    background: url(../img/btn_menu2.png) 50% 50% no-repeat;
    background-size: 61px auto;
    z-index: 2
}

.main-header .btn-menu .active, .main-header .btn-menu.active .normal {
    background: url(../img/btn_close.png) 50% 50% no-repeat;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transform: scale(0)
}

.main-header .btn-menu .active, .main-header .btn-menu.active .normal {
    background-size: 61px auto
}

.main-header .btn-menu.active .active {
    background: url(../img/btn_close.png) 50% 50% no-repeat;
    background-size: 61px auto;
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transform: scale(1)
}

.main-header .main-nav {
    background-color: #004f94;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden
}

.main-header .main-nav.show {
    z-index: 998;
    opacity: .95;
    visibility: visible
}

.main-header .main-nav.show a {
    transform: scale(1)
}

.main-header .main-nav .container {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.main-header .main-nav a {
    font: 400 50px/1 KittithadaLight45;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transform: scale(.8)
}

.main-header .main-nav a:hover {
    font-family: KittithadaBold75
}

@media only screen and (max-width: 767px) {
    .main-header .btn-menu .active, .main-header .btn-menu .normal, .main-header .btn-menu.active .active, .main-header .btn-menu.active .normal {
        background-size: 44px auto
    }

    .main-header .main-nav a {
        font-size: 30px
    }
}

.main-footer {
    background-color: #edf5fc;
    height: 70px;
    overflow: hidden
}

.twitterbird {
    margin-top: 19px;
    width: 213px;
    height: 34px;
    display: block;
    background: url(../img/btn_policy.png) center top no-repeat
}

.twitterbird:hover {
    background-image: url(../img/btn_policy_hover.png)
}

.main-footer a {
    display: inline-block;
    height: 34px
}

@media only screen and (max-width: 767px) {
    .twitterbird, .twitterbird:hover {
        margin-top: 26px;
        background-size: 130px auto
    }

    .main-footer a {
        height: 23px
    }
}

.hero-img {
    background-color: #fff;
    display: inline-block;
    margin-top: -30px;
    max-width: 752px
}

.show-case {
    position: relative;
    width: 752px;
    height: 474px
}

.show-case .show1 {
    position: absolute;
    background: url(../img/show/f1.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 185px;
    height: 198px;
    left: 9px;
    top: 46px;
    z-index: 10
}

.show-case .show1 img {
    padding-left: 13px;
    width: 157px;
    padding-top: 16px
}

.show-case .show2 {
    position: absolute;
    background: url(../img/show/f2.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 197px;
    height: 204px;
    left: 29px;
    top: 254px;
    z-index: 10
}

.show-case .show2 img {
    padding-left: 14px;
    width: 168px;
    padding-top: 10px
}

.show-case .show3 {
    position: absolute;
    background: url(../img/show/f3.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 312px;
    height: 335px;
    left: 226px;
    top: 2px;
}

.show-case .show4, .show-case .show5, .show-case .show6 {
    z-index: 10;
    position: absolute
}

.show-case .show3 img {
    padding-left: 15px;
    width: 282px;
    padding-top: 14px
}

.show-case .show4 {
    background: url(../img/show/f4.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 192px;
    height: 202px;
    left: 286px;
    top: 276px
}

.show-case .show4 img {
    padding-left: 14px;
    width: 163px;
    padding-top: 13px
}

.show-case .show5 {
    background: url(../img/show/f5.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 184px;
    height: 195px;
    left: 513px;
    top: 11px
}

.show-case .show5 img {
    padding-left: 13px;
    width: 157px;
    padding-top: 13px
}

.show-case .show6 {
    background: url(../img/show/f6.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 196px;
    height: 208px;
    left: 544px;
    top: 223px
}

.show-case .show6 img {
    padding-left: 13px;
    width: 169px;
    padding-top: 13px
}

.show-case .effect {
    position: absolute;
    background: url(../img/show/effect.png) 50% 100% no-repeat;
    background-size: 100% auto;
    width: 752px;
    height: 474px;
    left: 0;
    top: 0;
    z-index: 30
}

@media only screen and (max-width: 767px) {
    .hero-img {
        margin: -12px 20px 0
    }

    .show-case {
        position: relative;
        width: 280px;
        height: 176px
    }

    .show-case .effect {
        position: absolute;
        background: url(../img/show/effect.png) 50% 100% no-repeat;
        background-size: 100% auto;
        width: 280px;
        height: 176px;
        left: 0;
        top: 0;
        z-index: 30
    }

    .show-case .show1 {
        width: 64px;
        height: 67px;
        left: 4px;
        top: 18px
    }

    .show-case .show1 img {
        padding-left: 4px;
        padding-top: 3px;
        width: 55px
    }

    .show-case .show2 {
        width: 68px;
        height: 71px;
        left: 11px;
        top: 94px
    }

    .show-case .show2 img {
        padding-left: 4px;
        padding-top: 4px;
        width: 59px
    }

    .show-case .show3 {
        width: 111px;
        height: 120px;
        left: 85px;
        top: 1px
    }

    .show-case .show3 img {
        padding-left: 6px;
        padding-top: 8px;
        width: 99px
    }

    .show-case .show4 img, .show-case .show5 img, .show-case .show6 img {
        padding-left: 5px;
        padding-top: 5px
    }

    .show-case .show4 {
        width: 67px;
        height: 70px;
        left: 107px;
        top: 103px
    }

    .show-case .show4 img {
        width: 57px
    }

    .show-case .show5 {
        width: 68px;
        height: 72px;
        left: 191px;
        top: 5px
    }

    .show-case .show5 img {
        width: 58px
    }

    .show-case .show6 {
        width: 72px;
        height: 77px;
        left: 203px;
        top: 83px
    }

    .show-case .show6 img {
        width: 62px
    }
}

.hero-text {
    background-color: #fff;
    max-width: 602px;
    margin: 0 auto 20px
}

@media only screen and (max-width: 767px) {
    .hero-text {
        margin: 0 40px
    }
}

.intro {
    font: 400 26px/1.2 KittithadaMedium65;
    margin: 20px 0
}

.box-mdf-img {
    background: url(../img/line-shadow3.png) 50% 100% no-repeat;
    background-size: 100% auto;
    position: relative;
    padding: 0 0 30px;
    margin-bottom: 20px
}

@media only screen and (max-width: 767px) {
    .intro {
        font-size: 22px;
        margin-top: 10px;
        display: block
    }

    .intro br {
        display: none
    }

    .box-mdf-img {
        width: calc(100vw);
        margin-left: -20px;
        padding-bottom: 10px;
        margin-bottom: 10px
    }
}

.box-mdf-img .mdf-img {
    /*background: url(../img/bg_transparent.gif);*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden
}

.box-mdf-img .mdf-img .box-drag, .box-mdf-img .mdf-img .img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden
}

.box-mdf-img .mdf-img .box-drag, .box-mdf-img .mdf-img .box-drag .drag {
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: move
}

.box-mdf-img .mdf-img .img-browse {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.box-mdf-img .mdf-img .img-browse.show {
    opacity: 1
}

.box-mdf-img .mdf-img .img-browse:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    background-size: 100% auto;
    background-position: 0 0;
    background-repeat: no-repeat
}

.box-mdf-img .mdf-img .img-browse.sty-1:before {
    background-image: url(../img/frame/preview/1.png)
}

.box-mdf-img .mdf-img .img-browse.sty-2:before {
    background-image: url(../img/frame/preview/2.png)
}

.box-mdf-img .mdf-img .img-browse.sty-3:before {
    background-image: url(../img/frame/preview/3.png)
}

.box-mdf-img .mdf-img .img-browse.sty-4:before {
    background-image: url(../img/frame/preview/4.png)
}

.box-mdf-img .mdf-img .img-browse.sty-5:before {
    background-image: url(../img/frame/preview/5.png)
}

.box-mdf-img .mdf-img .img-browse.sty-6:before {
    background-image: url(../img/frame/preview/6.png)
}

.box-mdf-img .mdf-img .img-browse #image {
    position: absolute;
    top: 0;
    left: 0
}

.box-mdf-img .box-img-space {
    display: inline-block;
    position: relative;
    width:100%;
}

.box-mdf-img .box-img-space > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    margin-left:10%;
    margin-right:10%;
    display: block;
    z-index: 2
}

.box-mdf-img .box-img-space .img_w {
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    display: block;
    position: relative;
    z-index: 1
}

.btn-img-txt {
    background-color: transparent;
    display: inline-block;
    border: none;
    position: relative;
    min-width: 60px;
    cursor: pointer;
    vertical-align: top;
    padding: 0
}

.box-slider{
    height: 30px;
    padding-bottom:20px;
    width: auto;
}

.btn-img-txt .img {
    /*height: 600px;*/
    display: block;
    width:80%;
    margin-left: 10%;
    margin-right:10%;
}

.btn-img-txt .img-share {
    height: 60px;
    display: block
}

.btn-img-txt .img img {
    display: inline-block
}

.btn-img-txt .txt {
    font: 400 24px KittithadaMedium65Italic;
    color: #fff
}

.btn-img-txt:hover .txt {
    border-bottom: 1px solid #fff
}

[class^=section-title] {
    font: 400 36px/1 KittithadaMedium65Italic;
    text-align: left;
    padding-left: 15px;
    position: relative;
    margin: 0 0 15px
}

.again-btn, .input-msg, .main-btn, .popup-loading {
    text-align: center
}

[class^=section-title]:before {
    background-color: #EA2227;
    position: absolute;
    width: 3px;
    height: 25px;
    left: 0;
    top: 3px;
    content: "";
    display: block
}

.section-title-2 {
    background: url(../img/line-shadow.png) 0 100% no-repeat;
    background-size: 100% auto;
    padding-bottom: 20px;
    margin-bottom: 40px
}

@media only screen and (max-width: 767px) {
    [class^=section-title] {
        font-size: 30px
    }

    .section-title-2 {
        margin-bottom: 0
    }
}

.btn-step-select:hover .btnSty1:after {
    background-color: #BE0F13;
    box-shadow: 5px 5px 0 #ee4f52
}

.section-select .box-mdf-img a {
    display: block;
    position: relative
}

.section-select .box-mdf-img .btnSty1 {
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 5px 20px 0;
    z-index: 2
}

.section-select .box-mdf-img .btnSty1 span {
    background: url(../img/ico_next-blue.png) 100% 40% no-repeat;
    background-size: 12px auto;
    font-size: 24px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0
}

.select-bike {
    position: relative;
    /*padding: 0 20px;*/
. box-sizing: border-box;
    /*width: 647px;*/
    margin: 0 auto
}

/*@media only screen and (max-width: 760px) {*/
    /*.select-bike {*/
        /*width: 100%;*/
        /*padding: 0 2px*/
    /*}*/

    /*.item img {*/
        /*width: 100px*/
    /*}*/

    /*.carousel-left img, .carousel-right img {*/
        /*width: 20px*/
    /*}*/

    /*.carousel-left {*/
        /*cursor: pointer;*/
        /*top: 35%;*/
        /*left: -20px*/
    /*}*/

    /*.carousel-right {*/
        /*cursor: pointer;*/
        /*top: 35%;*/
        /*right: -20px*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 420px) {*/
    /*.select-bike {*/
        /*width: 100%;*/
        /*padding: 0 2px*/
    /*}*/

    /*.item img {*/
        /*width: 70px*/
    /*}*/

    /*.carousel-left img, .carousel-right img {*/
        /*width: 20px*/
    /*}*/

    /*.carousel-left {*/
        /*cursor: pointer;*/
        /*top: 28%;*/
        /*left: -20px*/
    /*}*/

    /*.carousel-right {*/
        /*cursor: pointer;*/
        /*top: 28%;*/
        /*right: -20px*/
    /*}*/
/*}*/

.select-bike .item {
    /*background: url(../img/bg_transparent.gif);*/
    background-size: 16px auto;
    position: relative;
    display: block
}

.select-bike .item:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background-color: rgba(0, 0, 0, .45);*/
    display: block;
    box-sizing: border-box
}

.select-bike .item.active:before, .select-bike .item.active:hover:before, .select-bike .item:hover:before {
    background-color: transparent
}
.select-bike .item:hover:before{
    background-color: rgba(0, 0, 0, .45);
}
.select-bike .item.active:before {
    border: 2px solid #004f94;
}

.select-bike .item.active {
    box-shadow: 0 0 1px 0 #004f94
}

.select-bike .owl-next, .select-bike .owl-prev {
    position: absolute;
    top: 0;
    width: 35px;
    height: 100%;
    text-indent: -9999px
}

.select-bike .owl-prev {
    background: url(../img/ico_prev-blue.png) 50% 50% no-repeat;
    background-size: 16px auto;
    left: -20px
}

.select-bike .owl-next {
    background: url(../img/ico_next-blue.png) 50% 50% no-repeat;
    background-size: 16px auto;
    right: -20px
}

.section-select .btn-browse input {
    position: absolute;
    width: 80%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-left:10%;
    margin-right:10%;
}

.btn-edit-img {
    display: none;
    /*max-width: 500px;*/
    width:80%;
    margin: 15px auto 0px;
    height: auto;
}

.btn-edit-img .input-slider {
    display: block;
    width: 100%;
    height: 47px;
    cursor: pointer;
}

.btn-edit-img h3 {
    font: 400 24px KittithadaMedium65;
    color: #004f94;
    margin: 10px 0 5px
}

.btn-edit-img .box-btn {
    padding-top: 15px
}

.box-webcam {
    overflow: hidden;
    width: 480px;
    height: 360px
}

.cropper-center {
    display: none !important
}

.terms-of-use {
    font-size: 24px;
    margin: 15px 0;
    padding: 0 0 0 25px
}

.terms-of-use li {
    margin-bottom: 15px;
    list-style: decimal
}

.how-to-play-img {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    margin: 50px auto
}

.gallery {
    width: 100%;
    max-width: 780px;
    margin: 0 auto
}

@media only screen and (max-width: 767px) {
    .terms-of-use {
        padding: 0 0 0 20px
    }

    .gallery {
        padding: 0 10px
    }
}

.gallery .item {
    float: left;
    padding: 10px;
    width: 25%
}

@media only screen and (max-width: 767px) {
    .gallery .item {
        width: 33.3333%;
        padding: 5px
    }
}

.gallery .item a {
    display: block
}

.gallery-head {
    background: url(../img/line-shadow.png) 0 100% no-repeat;
    background-size: 100% auto;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative
}

@media only screen and (max-width: 767px) {
    .gallery-head {
        margin-bottom: 0
    }
}

.gallery-head .section-title-2 {
    background: 0 0;
    padding-bottom: 0;
    margin-bottom: 0
}

.gallery-sorting {
    position: absolute;
    top: 5px;
    right: 5px
}

.gallery-sorting a {
    display: block;
    height: 28px;
    float: left;
    margin: 0 10px 0 -5px;
    text-align: center;
    position: relative
}

.gallery-sorting a img {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px
}

.gallery-sorting a span {
    padding: 0 5px;
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #ccc;
    opacity: .5
}

.gallery-sorting a .txt {
    padding: 5px 10px
}

.gallery-sorting a:after {
    background-color: #4A4A4A;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: skew(-35deg)
}

.gallery-sorting a.active span, .gallery-sorting a:hover span {
    opacity: 1
}

.gallery-sorting a.active .txt, .gallery-sorting a:hover .txt {
    color: #fff
}

.gallery-sorting a.active:after {
    background-color: #EA2227
}

.box-go-activity {
    background: url(../img/line-shadow-2.png) 50% 0 no-repeat;
    background-size: 100% auto;
    padding-top: 30px
}

.btn-load-more {
    font: 400 24px/1 KittithadaMedium65Italic;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    display: inline-block
}

.fancybox-title {
    background: url(../img/bg_fb.png) left top no-repeat #fff;
    font: 400 24px KittithadaMedium65Italic !important;
    padding: 4px 10px 0 65px;
    height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media only screen and (max-width: 767px) {
    .fancybox-nav {
        opacity: 1 !important
    }

    .fancybox-prev {
        background: url(../img/ico_prev-black.png) 50% 50% no-repeat !important;
        background-size: 25px auto !important;
        left: 0 !important
    }

    .fancybox-next {
        background: url(../img/ico_next-black.png) 50% 50% no-repeat !important;
        background-size: 25px auto !important;
        right: 0 !important
    }
}

.popup-loading {
    width: 300px
}

.popup-loading .popup-inner {
    min-height: auto;
    background-color: transparent
}

.col-10, .col-20, .col-35, .col-60, .col-80 {
    float: left;
    position: relative;
    min-height: 1px
}

.popup-loading .box-loading .txt {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    display: inline-block
}

.fancybox-loading-skin.fancybox-opened .fancybox-skin {
    background-color: transparent;
    box-shadow: none
}

.fancybox-loading .fancybox-overlay:after {
    display: none
}

#circleG {
    width: 45px;
    margin: auto
}

.circleG {
    background-color: #fff;
    float: left;
    height: 10px;
    margin-left: 5px;
    width: 10px;
    animation-name: bounce_circleG;
    -o-animation-name: bounce_circleG;
    -ms-animation-name: bounce_circleG;
    -webkit-animation-name: bounce_circleG;
    -moz-animation-name: bounce_circleG;
    animation-duration: 2.24s;
    -o-animation-duration: 2.24s;
    -ms-animation-duration: 2.24s;
    -webkit-animation-duration: 2.24s;
    -moz-animation-duration: 2.24s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px
}

#circleG_1 {
    animation-delay: .45s;
    -o-animation-delay: .45s;
    -ms-animation-delay: .45s;
    -webkit-animation-delay: .45s;
    -moz-animation-delay: .45s
}

#circleG_2 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s
}

#circleG_3 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s
}

@keyframes bounce_circleG {
    50% {
        background-color: #000
    }
}

.btn-group {
    margin: 0 auto;
    max-width: 700px;
    height: auto
}

.btn-landing-howto, .btn-landing-start {
    margin-top: 19px;
    height: 134px;
    max-width: 444px;
    width: 100%;
    display: inline-block
}

.btn-landing-start {
    background: url(../img/btn-start.png) center no-repeat;
    background-size: contain
}

.btn-landing-start:hover {
    background-image: url(../img/btn-start-hover.png)
}

.btn-landing-howto {
    background: url(../img/btn-hot-to.png) center no-repeat;
    background-size: contain
}

.btn-landing-howto:hover {
    background-image: url(../img/btn-how-to-hover.png)
}

@media only screen and (max-width: 767px) {
    .btn-landing-howto, .btn-landing-start {
        height: 100px;
        width: 60%
    }
}

@media only screen and (max-width: 420px) {
    .btn-landing-howto {
        margin-top: -20px
    }
}

.text-2 .img-text, .text-3 .img-text, .text-result {
    margin: 0 auto
}

.col-35 {
    width: 35%
}

.col-10 {
    width: 10%
}

.col-20 {
    width: 20%
}

.col-60 {
    width: 60%
}

.col-80 {
    width: 80%
}

@media only screen and (max-width: 767px) {
    .col-10 {
        width: 5%
    }
    .col-80 {
        width: 90%
    }
}

@media only screen and (max-width: 420px) {
    .col-10 {
        width: 5%
    }
    .col-80 {
        width: 90%
    }
}

.text-2 {
    display: inline-block
}

.text-3 {
    display: inline-block
}

.input-msg {
    font-family: KittithadaLight45;
    font-size: 3em;
    color: #07bff4;
    width: 100%;
    max-width: 627px;
    height: 115px;
    border: solid #004f94;
    border-width: 1.5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

@media only screen and (max-width: 420px) {
    .input-msg {
        height: 70px
    }
}

.input-box {
    height: 150px
}

@media only screen and (max-width: 420px) {
    .input-box {
        height: 85px
    }
}

.main-btn {
    height: 330px;
    overflow: hidden
}

@media only screen and (max-width: 767px) {
    .main-btn {
        height: 300px
    }

    .text-result {
        width: 95%
    }
}

@media only screen and (max-width: 420px) {
    .main-btn {
        height: 200px
    }

    .text-result {
        width: 95%
    }
}

.box-header {
    margin-bottom: 15px
}

.box-share {
    margin-top: 33px
}

.img-result {
    margin: 0 auto;
    max-width: 628px;
    width: 100%;
    height: auto
}

.btn-play-new {
    margin-top: 19px;
    height: 86px;
    display: inline-block;
    max-width: 234px;
    width: 100%;
    background: url(../img/btn-new.png) center no-repeat;
    background-size: contain
}

.btn-play-new:hover {
    background-image: url(../img/btn-new-hover.png)
}

.again-btn {
    height: 130px;
    overflow: hidden
}

@media only screen and (max-width: 767px) {
    .btn-play-new {
        max-width: 200px
    }

    .again-btn {
        height: 100px
    }
}

@media only screen and (max-width: 420px) {
    .btn-play-new {
        margin-top: 0;
        max-width: 135px
    }

    .again-btn {
        height: 100px
    }
}

.btn-share {
    margin: 0 40px
}

@media only screen and (max-width: 767px) {
    .btn-share {
        margin: 0 15px
    }
}

@media only screen and (max-width: 420px) {
    .btn-share {
        margin: 0 5px
    }
}

.text-frame, .text-msg {
    margin-bottom: 15px
}

/*input[type=range] {*/
    /*-webkit-appearance: none;*/
    /*margin: 18px 0;*/
    /*width: 100%;*/
/*}*/
/*input[type=range]:focus {*/
    /*outline: none;*/
/*}*/
/*input[type=range]::-webkit-slider-runnable-track {*/
    /*width: 100%;*/
    /*height: 4px;*/
    /*cursor: pointer;*/
    /*animate: 0.2s;*/
    /*box-shadow: 0px 0px 1px #6dd0f4, 0px 0px 1px #6dd0f4;*/
    /*background: #6dd0f4;*/
/*}*/
/*input[type=range]::-webkit-slider-thumb {*/
    /*box-shadow: 0px 0px 1px #004f94, 0px 0px 1px #004f94;*/
    /*border: 1px solid #004f94;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*border-radius: 15px;*/
    /*background: #004f94;*/
    /*cursor: pointer;*/
    /*-webkit-appearance: none;*/
    /*margin-top: -14px;*/
/*}*/
/*input[type=range]:focus::-webkit-slider-runnable-track {*/
    /*background: #6dd0f4;*/
/*}*/
/*input[type=range]::-moz-range-track {*/
    /*width: 100%;*/
    /*height: 4px;*/
    /*cursor: pointer;*/
    /*animate: 0.2s;*/
    /*box-shadow: 0px 0px 1px #6dd0f4, 0px 0px 1px #6dd0f4;*/
    /*background: #6dd0f4;*/
/*}*/
/*input[type=range]::-moz-range-thumb {*/
    /*box-shadow: 0px 0px 1px #004f94, 0px 0px 1px #004f94;*/
    /*border: 1px solid #004f94;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*border-radius: 15px;*/
    /*background: #004f94;*/
    /*cursor: pointer;*/
/*}*/
/*input[type=range]::-ms-track {*/
    /*width: 100%;*/
    /*height: 4px;*/
    /*cursor: pointer;*/
    /*animate: 0.2s;*/
    /*background: transparent;*/
    /*border-color: transparent;*/
    /*color: transparent;*/
/*}*/
/*input[type=range]::-ms-fill-lower {*/
    /*background: #6dd0f4;*/
    /*border: 1px solid #6dd0f4;*/
    /*border-radius: 15px;*/
    /*box-shadow: 0px 0px 1px #6dd0f4, 0px 0px 1px #6dd0f4;*/
/*}*/
/*input[type=range]::-ms-fill-upper {*/
    /*background: #6dd0f4;*/
    /*border: 1px solid #6dd0f4;*/
    /*border-radius: 15px;*/
    /*box-shadow: 0px 0px 1px #6dd0f4, 0px 0px 1px #6dd0f4;*/
/*}*/
/*input[type=range]::-ms-thumb {*/
    /*box-shadow: 0px 0px 1px #004f94, 0px 0px 1px #004f94;*/
    /*border: 1px solid #004f94;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*border-radius: 15px;*/
    /*background: #004f94;*/
    /*cursor: pointer;*/
/*}*/
/*input[type=range]:focus::-ms-fill-lower {*/
    /*background: #6dd0f4;*/
/*}*/
/*input[type=range]:focus::-ms-fill-upper {*/
    /*background: #6dd0f4;*/
/*}*/

.icon-p{
    margin:10px auto 0;
}
.icon-l{
    margin:10px auto 0;
}
@media only screen and (max-width: 767px) {
    .icon-p{
        margin:26px auto 0;
    }
    .icon-l{
        margin:26px auto 0;
    }
}

@media only screen and (max-width: 420px) {
    .icon-p{
        margin:18px auto 0;
    }
    .icon-l{
        margin:18px auto 0;
    }
}

#slid-inner{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 100%;
    height:50px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #6dd0f4;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #004f94;
    margin-top: -13px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #6dd0f4;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #6dd0f4;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #004f94;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #6dd0f4;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #6dd0f4;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #004f94;
    margin-top:0px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #6dd0f4;
}
input[type=range]:focus::-ms-fill-upper {
    background: #6dd0f4;
}